.container{
    background-color:hsl(240, 2%, 12%);
    max-width: 650px;
    height :700px;
    color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#guide{
    padding: 50px 50px;
    border: 2px solid;
    margin-top: 50px;
}
#btn{
    padding:5px 5px;
    margin-left: 100px;
    margin-top: 10px;
   
    
}